<div id="iCelleryFooter" class="row cCellery-io-White-row">
    <div class="container">
       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cCellery-io-left-col cCelleryFooterLinks">
          <ul>
             <li><a class="cBioFooterLink" href="/get-started">Get Started</a></li>
             <li><a class="cBioFooterLink" href="downloads">Downloads</a></li>
             <li><a class="cBioFooterLink" href="/docs">Docs</a></li>
             <li><a class="cBioFooterLink" href="/community">Community</a></li>
             <li><a class="cBioFooterLink" href="/samples">Samples</a></li>
          </ul>
       </div>
       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 cCellery-io-middle-col cCelleryFooterSignUp">
       
          <div class="cSocialmedia">
             <ul>
                <li><a class="cBioFooterLink" href="https://github.com/ballerina-platform" target="_blank"><img src="/cellery-images/github.svg"></a></li>
                <li><a class="cBioFooterLink" href="https://stackoverflow.com/questions/tagged/ballerina" target="_blank"><img src="/cellery-images/stackoverflow.svg"></a></li>
                <li><a class="cBioFooterLink" href="https://twitter.com/ballerinalang" target="_blank"><img src="/cellery-images/twitter.svg"></a></li>
                <li><a class="cBioFooterLink" href="/open-source/slack/"><img src="/cellery-images/slack.svg"></a></li>
             </ul>
             <div class="pdframe"></div>
          </div>
       </div>
       <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6 cCellery-io-right-col">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur</p>
       </div>
    </div>
 </div>
 <!-- Bootstrap core JavaScript -->
 <script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
 <script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <!-- Plugin JavaScript -->
 <script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="{{ site.baseurl }}/vendor/scrollreveal/scrollreveal.min.js"></script>
 <script src="{{ site.baseurl }}/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
 <!-- Custom scripts for this template -->
 <script src="{{ site.baseurl }}/js/creative.min.js"></script>